*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: yellow;
}

.container{
    margin: 50px auto;
    text-align: center;
    width: 450px;
    padding-bottom: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(241, 241, 241, 0.329);
   /* box-shadow: 0px 0px 10px 2px rgba(212, 212, 212, 0.712);*/
}

/* .head{
    width: auto;
    color: rgb(65, 29, 228);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
} */
.head h3{
    font-size: 30px;
    margin: 30px auto;
}

.field {
    /*padding: 0.5px;*/
    text-align: center;
    margin-bottom: 10px;
}

.input{
    width: 388px;
    height: 50px;
    margin: 10px auto;
    border: 1px solid  black;
    border-radius: 20px;
    padding: 0 8px;
    outline: none;
    font-size: 17px;
}

.input:focus{
    transition: 0.3s;
    border: 2px solid rgb(129, 214, 253) !;
    box-shadow: 0 0 10px rgb(21, 124, 150);
}
.input::placeholder{
    font-size: 15px;
    opacity: 0.6;
}
.head-name{
    display: block;
    float: left;
    font-size: 13px;
    font-family: sans-serif;
    margin: 7px 20px;
}

.submit{
    height: 60px;
    padding:12px;
    background-color: purple;
    margin: 30px 10px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
}


/* .submit:hover{
    transition: 0.5s;
    height: 65px;
    box-shadow: 0 0 10px #0026ff;

} */


.option .signTextt{
    display: inline;
}


.option a{
    color: blue;
    cursor: pointer;
    font-family: sans-serif;
}

.option a:hover{
    color: purple;
}


/* .header{
    background-image: linear-gradient(to right,rgba(255, 207, 167, 0.041),rgb(25, 43, 150));
    box-shadow: 0px 0px 10px 2px rgb(163, 163, 163);
    height: 50px;
    width: auto;
    position: relative;
    top: 0;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
} */
/* .header .icon img{
    height: 70px;
    position: absolute;
    left: 20px;
    top: 0px;
}
.header span{
    height: 50px;
    width: 1px;
    background-color: rgba(248, 248, 248, 0.5);
    position: absolute;
    right: 120px;
    
} */

.app-name{
    color: rgb(75 111 223);
    width: 250px;
    margin: auto;
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 24px;
    display: inline-block;
    font-family: sans-serif;
}

.headerOption{
    position: absolute;
    top: 14px;
    height: 20px;
    padding: 10px 5px;
    border-radius: 50%;
    font-size: 17px;
    font-family: sans-serif;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.432);
    cursor: pointer;
    transition: 0.3s;
}

.sign-btn-head{
    width: 60px;
    right: 30px;
    background-color: purple;
    justify-content: center;
  padding: 0.4rem;
  cursor: pointer;
}
.guest-btn-head{
    width: 110px;
    right: 130px;
    left: 25px !important;
    color: white;
    background-color: purple;
}

/* .guest-btn-head:hover{
    background-color: rgb(87, 194, 243) !important;
} */


.headerOption:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 3px 1px rgb(150, 150, 150);

}

/* .welcome-txt{
    text-align: center;
    margin: 60px;
    width: 850px;
    margin: 80px auto 30px;
    font-family: sans-serif;
    color: #001275;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 10px 0;
    padding: 22px 0;
    
}

.welcome-txt h1{
    margin: 14px 0;
}
.welcome-txt span{
    color: orange;
} */
